/db
/.idea
/.git
/.husky

**/node_modules
**/build

**/.env*
**/nodemon.json
CHANGELOG.md
.lintstagedrc.json
.eslintrc.js
.prettierrc.json
.commitlintrc.json
.gitignore
.dockerignore
Dockerfile
docker-compose.y*ml